name: deploy-conda

on:
    # push:
    #     branches:
    #         - main
    release:
        types: 
            - published

jobs:
    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Setup Python 
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'

            - name: Install numpy
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install --upgrade numpy

            - name: Install OpenMP and numpy for mac
              if: runner.os == 'macos'
              run: |
                  # brew install libomp

                  # Starting from libomp>=15.0, the libomp installation in homebrew is "keg-only",
                  # meaning that libomp is only installed in homebrew's directory, but not moved
                  # to /usr/local to avoid other OpenMP installations (such as with gcc's version
                  # of OpenMP). To use the homebrew's version of OpenMP,the following symbolic
                  # links are created. Without these, the installation will fail with the error
                  # of "fatal error: omp.h file found"
                  ln -s /usr/local/opt/libomp/include/omp-tools.h /usr/local/include/omp-tools.h
                  ln -s /usr/local/opt/libomp/include/omp.h /usr/local/include/omp.h
                  ln -s /usr/local/opt/libomp/include/ompt.h /usr/local/include/ompt.h
                  ln -s /usr/local/opt/libomp/lib/libomp.a /usr/local/lib/libomp.a
                  ln -s /usr/local/opt/libomp/lib/libomp.dylib /usr/local/lib/libomp.dylib

            - name: Build wheels in linux with CUDA support
              uses: pypa/cibuildwheel@v2.15.0
              env:
                  CIBW_MANYLINUX_X86_64_IMAGE: sameli/manylinux2014_x86_64_cuda_12.2
                  # CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
                  CIBW_BUILD: "*-manylinux_x86_64 *-macosx_x86_64 *-win_amd64"
                  CIBW_SKIP: "pp* cp36-* cp37-* cp38-* cp312-*"
                  CIBW_BUILD_VERBOSITY: 1
              with:
                output-dir: wheelhouse
            
            - name: Upload artifacts
              uses: actions/upload-artifact@v3
              with:
                  name: wheel-artifacts
                  path: ./wheelhouse/*.whl
                  retention-days: 1

    build_conda:
        needs: [build_wheels]
        name: Build conda on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        
        # To upload to PyPI on every tag starting with 'v', use the following:
        # if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
        # To publish to pypi on each GitHub Release, use the following:
        # if: github.event_name == 'release' && github.event.action == 'published'
        steps:
            
            - name: Clean runner space
              if: matrix.os == 'ubuntu-latest'
              run: |
                  sudo rm -rf /usr/share/dotnet
                  sudo rm -rf /opt/ghc
                  sudo rm -rf "/usr/local/share/boost"
                  sudo rm -rf "$AGENT_TOOLSDIRECTORY"
                  docker system prune -af

            - name: Checkout
              uses: actions/checkout@v3

            - name: Download artifacts
              uses: actions/download-artifact@v3
              with:
                  name: wheel-artifacts
                  path: dist

            - name: Setup Miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                  miniconda-version: "latest"
                  auto-update-conda: true

            - name: Build and upload package
              shell: bash -el {0}
              run: |
                  conda install -y conda-build anaconda-client
                  conda config --set anaconda_upload yes
                  export PATH=$(conda info --root):$PATH
                  export PATH=$(conda info --root)/bin:$PATH
                  conda-build --output-folder . . -c s-ameli
              env:
                  CYTHON_BUILD_IN_SOURCE: '1'  # see setup.py. Avoids a bug when building with multiple python variants
                  ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
                 
            # The manylinux wheels (after repaired with auditwheel) are very
            # large in size. It is better to delete them. If we do not delete
            # them, however, they will be deleted after the retention days,
            # which I set to one day.
            - name: Delete artifacts
              uses: geekyeggo/delete-artifact@v1
              with:
                  name: wheel-artifacts

    test_conda:
        needs: [build_conda]
        name: Test on ${{ matrix.os }} and Python ${{ matrix.python-version }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                python-version: ['3.9', '3.10', '3.11']

        steps:
            - name: Setup Miniconda
              uses: conda-incubator/setup-miniconda@v2
              with:
                  auto-update-conda: true
                  python-version: ${{ matrix.python-version }}
                  activate-environment: myenv

            - name: Checkout
              uses: actions/checkout@v3

              # Move source to avoid import from local folder
            - name: Rename source
              run: |
                  mv glearn glearn-DoNotImport
                  rm setup.cfg

            # This is to prevent the error "libomp is already initialized",
            # which occurs only in MacOS. To circumvent the error, the
            # following script will remove libomp.dylib from imate package, and
            # copies libomp.dylib from glearn to imate package.
            - name: Test (MacOS)
              if: matrix.os == 'macos-latest'
              run: |
                  export PATH=$(conda info --root):$PATH
                  export PATH=$(conda info --root)/bin:$PATH
                  conda install -c s-ameli glearn -y
                  conda install pytest -y
                  chmod +x scripts/fix_libomp.sh
                  ./scripts/fix_libomp.sh "$(conda info --root)/bin/python"
                  pytest
              shell: bash

            - name: Test (Linux, Windows)
              if: matrix.os != 'macos-latest'
              shell: bash -l {0}
              run: |
                  conda install -c s-ameli glearn -y
                  conda install pytest -y
                  pytest
